
/* 
#web{
    
    border-right: black 2px solid;
    overflow: hidden;
    white-space: nowrap;
    animation: Letter 4s infinite steps(14) alternate,  blink .7s infinite linear ;
    
}

@keyframes Letter {
    from{      
        
       width: 0px;
    }
    to{
        
        width: 738px;
    }
}

@keyframes blink{
      50%{
       
        border-color: transparent;
      }
}

#para,
#helo{
  animation: entry 1s ease;
}

@keyframes entry{
  from{
    opacity: 0;
    transform: translateX(-45px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
} */

