@import "tailwindcss";


@media (max-width:768px){
  #nav-title{
    font-size: 1.3rem;
  }
  #navbar{
  display: flex;
  
}
#mid-container{
 width: 500px;
}
#nav-bt{
  width: 215px;
}

}
@media (max-width:480px){
  #navbar{
  display: flex;
  flex-direction: column;
}
#mid-container{
 width: 400px;
}
#nav-bt{
  width: 180px;
}
}